body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
  color: cornflowerblue;
  font-weight: bold;
  text-align: center;
  font-size: 40px;
}
caption{
  color: yellowgreen;
  font-size: 30px;
  padding: 10px;
}
th{
  size: 100px;
  background-color: greenyellow;
  text-align: center;
  font-weight: bold;
}
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  }
table{
  margin:auto;
  text-align: center;  
  }
.LMSGI{
  background-color: aqua;
}
.BD{
  background-color: bisque;
}
.ED{
  background-color: blueviolet;
}
.SI{
  background-color: tomato;
}
.DIW{
  background-color: teal;
}
.TUT{
  background-color: azure;
}
.AN{
  background-color: brown;
}
.IPOI{
  background-color: salmon;
}
.Descans{
  text-align: center;
  padding: 15px;
  font-size: 20px;
}
.Hores{
  font-size: 20px;
  padding: 10px;
  width: 180px;
}
.Dies{
  padding: 30px;
  font-size: 25px;
}
td:not(.Hores){
  font-size: 20px;
}