body{
    background-color:
    goldenrod;
    font-family: Arial, sans-serif;
    color: #333;
}
.divimg{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}
dd{
    margin-top: 0.5em
}